## R Basics 3: Factors and Lists

In [25]:
# define a vector 
forecast <- c("cloudy", "rainy", "cloudy", "snowy", "snowy", "sunny", "overcast", "rainy")
forecast
forecastFactor <- factor(forecast)
# display levels
forecastFactor
# display structure
str(forecastFactor)

[1] "cloudy"   "rainy"    "cloudy"   "snowy"    "snowy"    "sunny"    "overcast"
[8] "rainy"

[1] cloudy   rainy    cloudy   snowy    snowy    sunny    overcast rainy
Levels: cloudy overcast rainy snowy sunny

 Factor w/ 5 levels "cloudy","overcast",..: 1 3 1 4 4 5 2 3

In [26]:
# force desired order 
forecastFactor2 <- factor(forecast, levels = c("sunny", "overcast", "cloudy", "rainy", "snowy"))
forecastFactor2
str(forecastFactor2)

[1] cloudy   rainy    cloudy   snowy    snowy    sunny    overcast rainy
Levels: sunny overcast cloudy rainy snowy

 Factor w/ 5 levels "sunny","overcast",..: 3 4 3 5 5 1 2 4

In [27]:
# can also add labels instead of levels
forecastFactor3 <- factor(forecastFactor2, levels = c("sunny", "overcast", "cloudy", "rainy", "snowy"),
                          labels = c("nice", "not sure", "no sun", "drops", "ice"))
str(forecastFactor3)

 Factor w/ 5 levels "nice","not sure",..: 3 4 3 5 5 1 2 4

In [30]:
# can reference items
forecastFactor3[4]
# but comparing factors is meaningless (can't say cloudy < rainy) 
forecastFactor3[4] > forecastFactor3[2]

[1] ice
Levels: nice not sure no sun drops ice

Warning message in Ops.factor(forecastFactor3[4], forecastFactor3[2]):
"'>' not meaningful for factors"

[1] NA

In [35]:
# levels can be ordered 
sizes <- c("M", "L", "S", "S", "L", "M", "L", "M")
# if ordered, comparison is OK
sizesFactor <- factor(sizes, ordered = TRUE, levels = c("S", "M", "L"))
sizesFactor 
str(sizesFactor)
# M is not smaller than S
sizesFactor[1] < sizesFactor[3]

[1] M L S S L M L M
Levels: S < M < L

 Ord.factor w/ 3 levels "S"<"M"<"L": 2 3 1 1 3 2 3 2

[1] FALSE

# Lists

In [36]:
# vectors and matrices accept same type (or coerce to a suitable type). Lists accept different types
vec <- c("R", "Python", 7, 500, TRUE)
vec

[1] "R"      "Python" "7"      "500"    "TRUE"

In [37]:
# lists accept different types
alist <- list ("R", "Python", 7, 500, TRUE)
alist

[[1]]
[1] "R"

[[2]]
[1] "Python"

[[3]]
[1] 7

[[4]]
[1] 500

[[5]]
[1] TRUE

In [41]:
# 2nd element in the list
alist[[2]]
# 4th element
alist[4]
# check if it is a list
is.list(alist)

[1] "Python"

[[1]]
[1] 500

[1] TRUE

In [47]:
#  assign names/labels to elements 
names(alist) <- c("statLang", "DSLang", "smallNum", "fiveHundred", "TrueFalse") 
alist
# get element by label
alist$DSLang
alist$smallNum

$statLang
[1] "R"

$DSLang
[1] "Python"

$smallNum
[1] 7

$fiveHundred
[1] 500

$TrueFalse
[1] TRUE

[1] "Python"

[1] 7

In [48]:
# structure of the list
str(alist)

List of 5
 $ statLang   : chr "R"
 $ DSLang     : chr "Python"
 $ smallNum   : num 7
 $ fiveHundred: num 500
 $ TrueFalse  : logi TRUE

In [55]:
# lists can be nested, quote labels with spaces
anotherList <- list("title and name" = "Trainee1", age = 32, work = alist)
anotherList

$`title and name`
[1] "Trainee1"

$age
[1] 32

$work
$work$statLang
[1] "R"

$work$DSLang
[1] "Python"

$work$smallNum
[1] 7

$work$fiveHundred
[1] 500

$work$TrueFalse
[1] TRUE

In [57]:
anotherList$age
# quote labels with spaces
anotherList$'title and name'

[1] 32

[1] "Trainee1"

In [52]:
# element as list
anotherList$work

$statLang
[1] "R"

$DSLang
[1] "Python"

$smallNum
[1] 7

$fiveHundred
[1] 500

$TrueFalse
[1] TRUE

In [53]:
# reference element inside 2nd list
anotherList$work$smallNum

[1] 7

In [62]:
# subsetting lists 
# output label and value
anotherList[2]
# get value by label
anotherList$age 
# get value by index using double brackets
anotherList[[2]] 

# use a vector 
anotherList[c(1,2)]

$age
[1] 32

[1] 32

[1] 32

$`title and name`
[1] "Trainee1"

$age
[1] 32

In [68]:
# this is wrong (out of bounds)
#anotherList[[c(1,3)]]

# these are the same
anotherList[[c(3,1)]]
anotherList[[3]][[1]]

[1] "R"

[1] "R"

In [69]:
# ref by name, 2nd element is a list
anotherList[c("age", "work")]

$age
[1] 32

$work
$work$statLang
[1] "R"

$work$DSLang
[1] "Python"

$work$smallNum
[1] 7

$work$fiveHundred
[1] 500

$work$TrueFalse
[1] TRUE

In [70]:
# subset by logicals 
anotherList[c(T,T,F)]

$`title and name`
[1] "Trainee1"

$age
[1] 32

In [71]:
# extend lists 
anotherList$Rating <- "good"
anotherList

$`title and name`
[1] "Trainee1"

$age
[1] 32

$work
$work$statLang
[1] "R"

$work$DSLang
[1] "Python"

$work$smallNum
[1] 7

$work$fiveHundred
[1] 500

$work$TrueFalse
[1] TRUE


$Rating
[1] "good"

In [72]:
anotherList$work$statLang

[1] "R"

In [74]:
# another way to extend
anotherList[[5]] <- c(paid = TRUE)
anotherList

$`title and name`
[1] "Trainee1"

$age
[1] 32

$work
$work$statLang
[1] "R"

$work$DSLang
[1] "Python"

$work$smallNum
[1] 7

$work$fiveHundred
[1] 500

$work$TrueFalse
[1] TRUE


$Rating
[1] "good"

[[5]]
paid
TRUE

In [75]:
# practice more ...