## R Basics - Applied Data Science  
** Make sure you practice these in a Jupyter notebook and make your own changes and tests. Reading alone is not useful!

In [2]:
# as in Python, the hash symbol (#) indicates a comment

# variable assignment: use <- 
var <- 7
width <- 4
height <- 5 

# rectangle area
area <- width * height

# display it
area

[1] 20

In [3]:
# list variables in use
ls()

[1] "area"   "height" "var"    "width"

In [4]:
# remove a variable
rm(area)

In [5]:
# not there anymore
area

ERROR: Error in eval(expr, envir, enclos): object 'area' not found

In [10]:
# data types
# data can be: numeric, logical, character, complex or raw (bytes)
#  check type using class() or is.type() or mode()
is.logical(T); is.logical(FALSE); is.logical(NA)

[1] TRUE

[1] TRUE

[1] TRUE

In [13]:
# assign and print results
sent <- "This is a short sentence."
print(is.numeric(8))
print(class(sent))
print(mode(2 + 3i))

[1] TRUE
[1] "character"
[1] "complex"

In [18]:
# type coersion: use as.type()
print(as.numeric(FALSE))
print(as.character(TRUE))
print(as.character(75))
print(as.numeric(NA))
print(as.numeric("Data Science"))

[1] 0
[1] "TRUE"
[1] "75"
[1] NA

Warning message in print(as.numeric("Data Science")):
"NAs introduced by coercion"

[1] NA

In [22]:
# vectors ( c for combine)
topics <- c("English", "math", "Arabic", "history", "science")
grades <- c(90, 87, 92, 83, 85)
# output ...
length(grades)
length(grades) == length(topics)

[1] 5

[1] TRUE

In [23]:
# assign topics as headers (names) for grades
names(grades) <- topics
grades

English    math  Arabic history science
     90      87      92      83      85

In [25]:
# grades is still a vector
is.vector(grades)

[1] TRUE

In [26]:
# can also write it directly (need to quote if name has spaces)
myGrades <- c(English = 90, math = 78, "science" = 84, "data science" = 93) 
myGrades

     English         math      science data science
          90           78           84           93

In [27]:
# display structure of vector (notice that R counts from 1 unlike Python)
str(myGrades)

 Named num [1:4] 90 78 84 93
 - attr(*, "names")= chr [1:4] "English" "math" "science" "data science"

In [28]:
# a single variable is also a vector (length =1), besides being numeric
one_var <- 5 
is.vector(one_var) & is.numeric(one_var)

[1] TRUE

In [50]:
# coersion (vectors accept same type only). If different types used, R tries to force the common type
coerced <- c(1,"two", 3, 4, 5, 'A', TRUE, NA)
coerced 
# use paste or cat to combine printed items
print(paste("coerced to:", class(coerced)))

[1] "1"    "two"  "3"    "4"    "5"    "A"    "TRUE" NA

[1] "coerced to: character"

In [55]:
# operations with vectors 
vec1 <- c(5, 2, 7, 3, 10)
vec2 <- c(1, 4, 6, 9, 12)
# addition is done elemen by element and so is subtraction, multiplication, division and power
vec1 + vec2
vec1 * vec2
vec1 * 5
vec2 - 4

[1]  6  6 13 12 22

[1]   5   8  42  27 120

[1] 25 10 35 15 50

[1] -3  0  2  5  8

In [61]:
# add all elements in a vector and get sum
sum(vec1)

# find the mean of all elements
mean(vec2)

# check logical operator elementwise 
vec2 < vec1

[1] 27

[1] 6.4

[1]  TRUE FALSE  TRUE FALSE FALSE

In [73]:
# subsetting vectors (R counts from 1)
onlyGrades <- myGrades <- c(80, 88, 85, 92) 
classGrades <- c(English = 80, math = 88, science = 85, "data science" = 92) 
onlyGrades[2]
classGrades[2]

# can also subset by name if available
classGrades["science"]

# subset by a vector (selected indices)
onlyGrades[c(2,3,4)]

# all except indicated
onlyGrades[-2]
onlyGrades[-c(2,3,4)]

[1] 88

math
  88

science
     85

[1] 88 85 92

[1] 80 85 92

[1] 80

In [78]:
# use logical mask
onlyGrades > 85
onlyGrades[onlyGrades > 85]

# if mask is shorter than vector, it is repeated (T, F, T, F)
onlyGrades[c(T,F)]

[1] FALSE  TRUE FALSE  TRUE

[1] 88 92

[1] 80 85