## R Basics 2 - Matrices

In [2]:
# Matrices  - use the matrix() function to create one. Vectors are 1-d matrices
# here, elements are from  2 to 7 in 3 rows (2 columns). By default, elements are by column! 
mat <- matrix(2:7, nrow = 3)
mat

     [,1] [,2]
[1,] 2    5
[2,] 3    6
[3,] 4    7

In [3]:
# force by row 
mat2 <- matrix(2:7, nrow = 3, byrow = TRUE)
mat2

     [,1] [,2]
[1,] 2    3
[2,] 4    5
[3,] 6    7

In [5]:
# specify by column
mat3 <- matrix(2:7, ncol = 2, byrow = TRUE)
mat3

     [,1] [,2]
[1,] 2    3
[2,] 4    5
[3,] 6    7

In [6]:
# if elements are not enough for dimensions, recycling occurs 
# here we have 5 elements and 4 columns, so 2 rows assumed. Last 3 elements are recycled from start (2, 3, 4)
mat4 <- matrix(2:6, ncol = 4)
mat4

Warning message in matrix(2:6, ncol = 4):
"data length [5] is not a sub-multiple or multiple of the number of rows [2]"

     [,1] [,2] [,3] [,4]
[1,] 2    4    6    3
[2,] 3    5    2    4

In [8]:
# row and column binding 
# combine as rows   (number of columns must match)
rbind(2:5, 3:6)

     [,1] [,2] [,3] [,4]
[1,] 2    3    4    5
[2,] 3    4    5    6

In [9]:
# combine as columns   (number of rows must match)
cbind(2:5, 3:6)

     [,1] [,2]
[1,] 2    3
[2,] 3    4
[3,] 4    5
[4,] 5    6

In [16]:
# try with assignment - define m and display it
m <- matrix(2:7, byrow = TRUE, nrow = 2)
m

     [,1] [,2] [,3]
[1,] 2    3    4
[2,] 5    6    7

In [17]:
# add a row and display
rbind(m,8:10)

     [,1] [,2] [,3]
[1,] 2    3     4
[2,] 5    6     7
[3,] 8    9    10

In [20]:
# m is still not changed unless re-assigned
m
m2 <- rbind(m,8:10)
m2

     [,1] [,2] [,3]
[1,] 2    3    4
[2,] 5    6    7

     [,1] [,2] [,3]
[1,] 2    3     4
[2,] 5    6     7
[3,] 8    9    10

In [23]:
# Name rows and columns - we have 3 rows and 3 columns 
rownames(m2) <- c("row1", "row2", "row3")
colnames(m2) <- c("col1", "col2", "col3")
m2

     col1 col2 col3
row1 2    3     4
row2 5    6     7
row3 8    9    10

In [25]:
# naming while creating a matrix (use a vector for each group of names)
# 2 rows and 3 columns
m3 <- matrix(1:6, byrow = TRUE, nrow = 2,
    dimnames = list(c("row1", "row2"),
    c("col1", "col2", "col3")))
m3

     col1 col2 col3
row1 1    2    3
row2 4    5    6

In [33]:
# some R constants (notice upper and lower case letters)
LETTERS 
letters
month.name 
month.abb

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

In [40]:
# coercion 
nums <- matrix(1:6, ncol = 2) 

# LETTERS 
chars <- matrix(LETTERS[1:8], ncol = 3)
nums 
# chars will become 3 by 3, 9th element recycled from 1st
chars 
cbind(nums, chars)

Warning message in matrix(LETTERS[1:8], ncol = 3):
"data length [8] is not a sub-multiple or multiple of the number of rows [3]"

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] A    D    G
[2,] B    E    H
[3,] C    F    A

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    4    A    D    G
[2,] 2    5    B    E    H
[3,] 3    6    C    F    A

In [43]:
months <- matrix(month.name[1:5], ncol = 2)
# January recycled to complete bind
cbind(chars, months)

Warning message in matrix(month.name[1:5], ncol = 2):
"data length [5] is not a sub-multiple or multiple of the number of rows [3]"

     [,1] [,2] [,3] [,4]     [,5]
[1,] A    D    G    January  April
[2,] B    E    H    February May
[3,] C    F    A    March    January

In [54]:
# subsetting matrices 
# sample generates random numbers from range (9 numbers between 5 and 15) 
# set.seed() generates the same sequence each time
set.seed(0)
sample(5:15, 9)

[1] 14  7  8  9 11  6 12 13 10

In [73]:
# generate random matrix elements 
set.seed(0)
rnums <- matrix(sample(5:15, 9), nrow = 3)
rnums

     [,1] [,2] [,3]
[1,] 14    9   12
[2,]  7   11   13
[3,]  8    6   10

In [76]:
#2nd row, 3rd col
rnums[2,3]
# 2nd row
rnums[2,]
# 3rd col
rnums[,3]

[1] 13

[1]  7 11 13

[1] 12 13 10

In [78]:
# nth element counting columns
rnums[3]
rnums[9]

[1] 8

[1] 10

In [83]:
rnums
# row 2, elements 1 and 3
rnums[2, c(1,3)]
# row 1 col 2 to row 2 col 3
rnums[c(1, 2), c(2, 3)]

     [,1] [,2] [,3]
[1,] 14    9   12
[2,]  7   11   13
[3,]  8    6   10

[1]  7 13

     [,1] [,2]
[1,]  9   12
[2,] 11   13

In [87]:
# rows 1 and 3, columns  1, 2, 3  
rnums[c(1, 3), c(1, 2, 3)]

     [,1] [,2] [,3]
[1,] 14   9    12
[2,]  8   6    10

In [98]:
# subset by names 
rownames(rnums) <- c("row1", "row2", "row3")
colnames(rnums) <- c("A", "B", "C")
rnums
# works either way
rnums["row3", 2]
rnums["row3", "B"]

# row 2 columns B and C 
rnums[2, c("B", "C")]

     A  B  C
row1 14  9 12
row2  7 11 13
row3  8  6 10

[1] 6

[1] 6

 B  C
11 13

In [104]:
# subset by logicals 
# 3rd row, cols 1 and 3
rnums[c(FALSE, FALSE, TRUE), c(TRUE, FALSE, TRUE)]

 A  C
 8 10

In [105]:
# matrix operations - like vectors, recycling also applies
rnums

     A  B  C
row1 14  9 12
row2  7 11 13
row3  8  6 10

In [106]:
# elementwise operations for scalars
rnums + 1

     A  B  C
row1 15 10 13
row2  8 12 14
row3  9  7 11

In [108]:
# adding two matrices, elementwise
rnums + matrix(sample(1:10,9), ncol = 3)

     A  B  C
row1 24 17 13
row2 11 13 18
row3 15 15 13

In [ ]:
# practice more !